{%- macro _items(name, items = []) -%}
	{%- for item in items -%}
		{{- item -}}
	{%- endfor -%}
{%- endmacro -%}


{%- macro _item(text, route = null, params = {}, attrs = {}) -%}
	{%- if route is null -%}
		{%- set attrs = attrs | merge({'aria-disabled': 'true'}) -%}
	{%- else -%}
		{%- set is_current = path(route, params) is  same as(app.request.pathinfo) -%}
		{%- if is_current -%}
			{%- set attrs = attrs | merge({'aria-current': 'page'}) -%}
		{%- endif -%}
		{%- set attrs = attrs | merge({'href': path(route, params)}) -%}
	{%- endif -%}
	{%- set title -%}
		{%- if text is numeric -%}
			{{- text|format_number -}}
		{%- else -%}
			{{- text|trans -}}
		{%- endif -%}
	{%- endset -%}
	<li><a {{ attrs|attributes }}>{{ title }}</a></li>
{%- endmacro -%}


{%- macro _generic(name, items = [], element = 'menu', element_attrs = {}) -%}
<{{element}} {{element_attrs|attributes}}>
	{{- _self._items(name, items) -}}
</{{element}}>
{%- endmacro -%}


{%- macro navigation(name, items = [], attrs = {}) -%}
	{{- _self._generic(name, items, 'menu', attrs) -}}
{%- endmacro -%}


{%- macro pagination(name, route, params, attrs, page, pages, size) -%}

	{%- set item_prev -%}
		{%- set has_prev = (page > 1) -%}
		{{-	_self.add( 
			'pagination.prev',  
			has_prev ? route : null,
			params | merge({ 'page': (page - 1) }),
			{'rel': 'prev'}
		) -}}
	{%- endset -%}

	{%- set item_next -%}
		{%- set has_next = (page < pages) -%}
		{{-	_self.add( 
			'pagination.next',
			has_next ? route : null,
			params | merge({ 'page': (page + 1) }),
			{'rel': 'next'}
		) -}}
	{%- endset -%}
	
	{%- set page_items -%}
		{%- for i in 1..pages -%}
			{{-	_self.add( i, route, params | merge({ 'page': i }) ) -}}
		{%- endfor -%}
	{%- endset -%}

	{{- _self._generic(
		name, 
		[item_prev, page_items, item_next], 
		'menu', 
		{'page': page, 'pages': pages, 'size': size}
	) -}}

{%- endmacro -%}


{%- macro add(text, route = null, params = {}, attrs = {}) -%}
	{{- _self._item(text, route, params, attrs) -}}
{%- endmacro -%}
