{% extends template.default %}
{%- block meta -%}
	{{ parent() }}
	<meta name='description' content='{{ 'homepage.subtitle'| trans }}'/>
		<style>
			[style^="--chars:"] {
				--offset: 4ch;
				--unit: 50ms;
				--time: calc( var(--chars) * var(--unit));
				animation: typing var(--time) steps(var(--chars)) forwards;
				animation-delay: calc( var(--prev, 0) * var(--unit) + var(--unit));
				overflow: hidden;
				width: 0;
			}
			@keyframes typing {
				from {width: var(--offset)}
				to {width: calc(var(--chars) * 1ch + var(--offset))}
			} 
		</style>
{%- endblock meta -%}
{%- block title %}{{ 'homepage.title' | trans }}{%- endblock title -%}
{%- block body -%}
{%- embed layout.default -%}
    {%- block content -%}
		<header>
			<h1>{{ 'homepage.headline' | trans }}</h1>
			<p>{{ 'homepage.subtitle' | trans }}</p>
		</header>
		<figure>
			<pre><code><ol><li role='none' style='--chars:23;--prev:0'>for client in clients {</li><li role='none' style='--chars:17;--prev:23'>    client.meet()</li><li role='none' style='--chars:19;--prev:40'>    setMilestones()</li><li role='none' style='--chars:12;--prev:59'>    design()</li><li role='none' style='--chars:13;--prev:71'>    develop()</li><li role='none' style='--chars:18;--prev:84'>    return product</li><li role='none' style='--chars:1;--prev:102'>}</li></ol></code></pre>
		</figure>
		<p>
			<a href='{{ path('view_services') }}'>Learn More &rarr;</a>
		</p>
    {%- endblock content -%}
{%- endembed -%}
{%- endblock body -%}
