<!DOCTYPE html>
<html lang='{{ app.request.locale }}'>
	<head>
		{%- block meta -%}
        <meta charset="UTF-8">
		<meta name='color-scheme' content='{{ color_scheme }}'/>
		<meta name='viewport' content='width=device-width,initial-scale=1'/>
		{%- endblock meta -%}
        <title>{% block title %}{{ 'generic.greeting' | trans }}{% endblock %}</title>
    	<link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
		{%- block style -%}
		<link rel='stylesheet' href='/static/css/utility/properties.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/utility/reset.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/layout/navigation.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/layout/body.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/layout/main.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/layout/form.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/layout/article.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/design/form.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/type.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/form.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/hyperlink.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/icon.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/component/dialog.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/utility/color.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/style.css?v={{"now"|date("Uv")}}'/>
		{%- endblock style -%}
	</head>
	<body>
		<header>
			<p><a href='{{ path("view_homepage") }}'>Adam Blum Digital</a></p>
			{#<p><a href='#content'>{{ 'generic.skiplink' | trans }}</a></p>#}
			<nav>
				<menu>
					{% import '@Shared/macro/menu.html.twig' as Menu %}
					{{ Menu.item('generic.writing', 'view_get_some_articles', {}, {}, true ) }}
					{{ Menu.item('action.article.create', 'view_create_article') }}
				</menu>
			</nav>
		</header>
		<main id='content'>
			{%- block body -%}{%- endblock -%}
			{#<section>
				<input type='file'/>
				<input type='checkbox'/>
			</section>
				<dialog open>
					<header><p>Notice</p></header>
					<p>This website may use cookies for login sessions, but not for analytics data.</p>
					<form method='dialog'><button type='submit'>{{ 'generic.dismiss' | trans }}</button></form>
				</dialog>#}
		</main>
		{% import '@Shared/macro/dialog.html.twig' as Dialog %}
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				{{ Dialog.dialog(label, message, true) }}
			{% endfor %}
		{% endfor %}
		<footer>
			<p rel='copyright'>Copyright</p>
			<nav>
			<a href>CodePen</a>
			<a href>GitHub</a>
			<a href='/_profiler/latest'>Profiler</a>
			</nav>
		</footer>
	</body>
</html>
