<!DOCTYPE html>
<html lang='{{ app.request.locale }}'>
	<head>
		{%- block meta -%}
        <meta charset="UTF-8">
		<meta name='color-scheme' content='{{ color_scheme }}'/>
		<meta name='viewport' content='width=device-width,initial-scale=1'/>
		{%- endblock meta -%}
        <title>{% block title %}{{ 'generic.greeting' | trans }}{% endblock %}</title>
    	<link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
		{%- block style -%}
		<link rel='stylesheet' href='/static/css/properties.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/reset.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/layout.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/type.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/form.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/hyperlink.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/icon.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/dialog.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/color.css?v={{"now"|date("Uv")}}'/>
		<link rel='stylesheet' href='/static/css/style.css?v={{"now"|date("Uv")}}'/>
		{%- endblock style -%}
	</head>
	<body>
		<header>
			<p>Adam Blum Digital</p>
			{#<p><a href='#content'>{{ 'generic.skiplink' | trans }}</a></p>#}
			<nav>
				<menu>
					{% import '@Shared/macro/menu.html.twig' as Menu %}
					{{ Menu.item('generic.writing', 'view_get_some_articles', {}, {}, true ) }}
					{{ Menu.item('action.article.create', 'view_create_article') }}
				</menu>
			</nav>
		</header>
		<main id='content'>
			{%- block body -%}{%- endblock -%}
		{#	<section>
				<input type='file'/>
				<input type='checkbox'/>
			</section>#}
				<dialog>
					<header><p>Notice</p></header>
					<p>This website may use cookies for login sessions, but not for analytics data.</p>
					<form method='dialog'><button type='submit'>{{ 'generic.dismiss' | trans }}</button></form>
				</dialog>
		</main>
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<dialog open>
					<header><p>{{ label | humanize }}</p></header>
					<p>{{ message }}</p>
					<form method='dialog'><button type='submit'>{{ 'generic.dismiss' | trans }}</button></form>
				</dialog>
			{% endfor %}
		{% endfor %}
		<footer><p rel='copyright'>Copyright</p></footer>
	</body>
</html>
