{% extends template.default %}
{%- block body -%}
{%- import '@Shared/macro/menu.html.twig' as Menu -%}
<header>
	<h1>{{ category is defined ? 'writing.category.headline'|trans({'category': category.title}) : 'writing.title'|trans }}</h1>
	<nav>
		{%- set category_menu_items -%}
			{%- for category in categories -%}
				{{- Menu.add(category.title, 'view_get_category', {'id': category.id}) -}}
			{%- endfor -%}
		{%- endset -%}
		{{- Menu.navigation('categories', [
			Menu.add('All Topics', 'view_get_some_articles'),
			category_menu_items
		]) -}}
	</nav>
	<p>{{ category.description ?? 'writing.description'|trans }}</p>
</header>
{%- import '@Article/macro/components.html.twig' as ArticleComponent -%}
{%- if articles is not empty -%}
	{%- for article in articles -%}	
	<article>
		{{- ArticleComponent.snippet(
			'view_get_article', article.id, article.title, article.description, 
			'view_get_category', article.categoryId, article.categoryTitle 
		) -}}
	</article>
	{%- endfor -%}	
{%- else -%}
	<p role='note'>{{ 'label.no_articles' | trans }}</p>
{%- endif -%}

{%- if pages > 1 -%}
<footer>
<nav>
	{{- Menu.pagination(
		'pagination', 
		app.request.get('_route'), 
		app.request.get('_route_params'), 
		{},
		page, pages, size
	) -}}
</nav>
</footer>
{%- endif -%}
{%- endblock body -%}
