{% extends template.default %}
{%- block body -%}
{%- embed layout.listing -%}
	{%- block navigation -%}
		{% import '@Shared/macro/menu.html.twig' as Menu %}
		<nav>
			<p>{{ 'generic.article.count' | trans ({'count': articles | length}) | title }}</p>
			<menu>
				{{ Menu.item('01', 'view_get_all_articles') }}
				{{ Menu.item('02', 'view_create_article') }}
				{{ Menu.item('03', 'view_create_article') }}
			</menu>
		</nav>
	{%- endblock navigation -%}
    {%- block list -%}
			{% if articles is not empty %}
				{% for article in articles %}
				<article>
				<h1><a href='{{ path("view_get_article", {id: article.id}) }}'>{{ article.title }}</a></h1>
				<p>{{ article.description }}</p>
				</article>
				{% endfor %}
			{% else %}
			<article><p>No Articles Found</p></article>
		{% endif %}
    {%- endblock list -%}
{%- endembed -%}
{%- endblock body -%}
