{% extends template.default %}
{%- block meta -%}
	{{ parent() }}
	<meta name='description' content='{{ article.description }}'/>
{%- endblock meta -%}
{%- block body -%}
{%- embed layout.default -%}
    {%- block content -%}
	<header>
		<h1>{{ article.title }}</h1>
		<dl style='font-size:smaller'>
			<dt>Published</dt>
			<dd>12 November 2022</dd>
			<dt>Category</dt>
			<dd>{{ article.category.title }}</dd>
		</dl>

		<p style='font-size:larger'>{{ article.description }}</p>
		{#<p><code>{{ article.id }}</code></p>#}
	</header>
	{% if article.content is not empty %}
		{{ article.content | striptags('<p><a>') | raw }}
	{% endif %}

    {%- endblock content -%}
	{%- block sidebar -%}
	{{ form(articleForm) }}
	{%- endblock sidebar -%}
{%- endembed -%}
{%- endblock body -%}
