{% extends template.default %}
{%- block meta -%}
	{{ parent() }}
	<meta name='description' content='{{ article.description }}'/>
{%- endblock meta -%}
{%- block body -%}
{%- embed layout.default -%}
    {%- block content -%}
	<header>
		<h1>{{ article.title }}</h1>
		<p>{{ article.description }}</p>
		<p><code>{{ article.id }}</code></p>
	</header>
	{% if article.content is not empty %}
		{{ article.content|raw }}
	{% endif %}

    {%- endblock content -%}
	{%- block sidebar -%}
	{{ form(articleForm) }}
	{%- endblock sidebar -%}
{%- endembed -%}
{%- endblock body -%}
