{% extends template.default %}
{%- block meta -%}
	{{ parent() }}
	<meta name='description' content='{{ article.description }}'/>
{%- endblock meta -%}
{%- block title %}{{ article.title }}{%- endblock title -%}
{%- block body -%}
{%- embed layout.default -%}
	{%- import '@Article/macro/components.html.twig' as ArticleComponent -%}
    {%- block content -%}
		<header>
			{%- if app.request.locale is not same as('en') -%}
				<p role='note'>{{ 'note.no_translation'|trans }}</p>
			{%- endif -%}
			{{- ArticleComponent.header(article.id, article.title, article.description, 'view_get_category', article.category.id, article.category.title ) -}}
		</header>
		{% if article.content is not empty %}
			{{ article.content 
				| striptags('<p><a><code><h2><h3><h4><h5><h6><pre><ol><ul><li><figure><figcaption>') 
				| raw 
			}}
		{% endif %}
    {%- endblock content -%}
{%- endembed -%}
{%- endblock body -%}
