{% extends template.default %}
{%- block meta -%}
	{{ parent() }}
	<meta name='description' content='{{ article.description }}'/>
{%- endblock meta -%}
{%- block body -%}
{%- embed layout.default -%}
    {%- block content -%}
	<header>
		<h1>{{ article.title }}</h1>
		<p>{{ article.description }}</p>
		<p>{{ article.id }}</p>
	</header>
	{{ form(articleForm) }}
    {%- endblock content -%}
{%- endembed -%}
{%- endblock body -%}
