{% extends template.default %}
{%- block meta -%}
	{{ parent() }}
	<meta name='description' content='{{ category.description ?? category.title }}'/>
{%- endblock meta -%}
{%- block body -%}
{%- embed layout.default -%}
    {%- block content -%}
	<header>
		<h1>{{ category.title }}</h1>
		{% if category.description is not empty %}
		<p style='font-size:larger'>{{ category.description }}</p>
		{% endif %}
	</header>
	{% for article in category.articles %}
		<article>
			<h2>
				<a href='{{ path( 'view_get_article', { 'id' : article.id } )  }}'>
					{{ article.title }}
				</a>
			</h2>
			<p>{{ article.description }}</p>
		</article>
	{% endfor %}
    {%- endblock content -%}

{%- endembed -%}
{%- endblock body -%}
